RewriteEngine On
RewriteRule ^([a-z]+)/?$              index.php?mode=$1                  [QSA,L]
RewriteRule ^([a-z]+)/([A-z]+)?$      index.php?mode=$1&drive=$2         [QSA,L]
RewriteRule ^([a-z]+)/([A-z]+)(/.*)?$ index.php?mode=$1&drive=$2&path=$3 [QSA,L]
